.App {
  min-height: 100vh;
  background-color: royalblue;
}
.container {
  padding: 20px 0;
  margin: 0 auto;
  max-width: 1440px;
}
.table {
  margin-bottom: 20px;
  border-collapse: collapse;
  width: 100%;
}
.table th {
  padding: 5px;
  font-size: 16px;
  color: #fff;
  border: 1px solid #fff;
}
.table td {
  padding: 5px;
  font-size: 16px;
  text-align: center;
  color: royalblue;
  background-color: #fff;
  border: 1px solid #fff;
  border-bottom: 1px solid royalblue;
}
.block-button {
  text-align: center;
}
.button {
  padding: 7px 15px;
  font-size: 16px;
  font-weight: 700;
  color: royalblue;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
.button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.modal__title {
  margin-bottom: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__line {
  position: relative;
  width: 100%;
}
.form__input {
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.form__button {
  padding: 7px 15px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: royalblue;
  border: 1px solid royalblue;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
.form__button:hover {
  color: royalblue;
  background-color: #fff;
}
.form__error {
  padding: 5px;
  position: absolute;
  top: -14px;
  left: 10px;
  font-size: 12px;
  color: red;
  background-color: #fff;
}